<%- include('../common/head') -%>

</head>
<body>

  <div id="wrap">

    <%# 侧边菜单 %>
    <%- include('../common/sidebar') %>

    <div class="outer">
      <section id="main">

        <%= title %>
        <%- nickname %>

        <div class="content-input">
            <form action="post" method="post">
                <input type="text" name="title"> <br>
                <textarea name="content" id="" cols="30" rows="10"></textarea>
                <input type="hidden" name="author" value="忆年">
                <button>提交</button>
            </form>
        </div>
      </section>
    </div>

     <%- include('../common/footer') %>
    
  </div>

</body>

</html>


