<%# '注释' %>
<%- include('common/head') -%>

<%= title%>


<div class="post-list">
    <ul>
    <% posts.forEach(function(post){ %>
        <li>
            <h2><a href="<%= post.title %>"><%= post.title %></a></h2>
            <p> <%= post.content %></p>
        </li>
    <% }); %>
    </ul>
</div>

<%- include('common/footer') -%>