<%# '注释' %>
<%- include('common/head') -%>

<%= title%>


<div class="post-list">
    <ul>
    <% posts.forEach(function(post){ %>
        <li class="post">
            <h2><a href="<%= post.title %>"><%= post.title %></a></h2>
            <p> <%= post.content %></p>
            <footer> 
                <%= post.author %> <span class="time"><%= post.updateDate %></span>
                <a class="fr" href="<%= post.title %>">more...</a>
            </footer>
        </li>
    <% }); %>
    </ul>
</div>

<%- include('common/footer') -%>