<%# '注释' %>
<%- include('common/head') -%>

<%= title%>


<div class="post-list">
    <ul>
    <% posts.forEach(function(post){ %>
        <li class="post">
            <h2>
                <span class="time fr"><%= post.createDate %></span>
                <a href="<%= post.title %>"><%= post.title %></a>
            </h2>
            <p> <%= post.content %></p>
            <footer> 
                <% post.tags.forEach(function(tag){ %>
                <a class="tag" href="/tag/<%= tag %>"><%= tag %></a>
                <% }); %>
                <a class="fr more" href="<%= post.title %>">more...</a>
            </footer>
        </li>
    <% }); %>
    </ul>
</div>

<%- include('common/footer') -%>