  <%- include('common/head') %>
  <%- include('common/highlight') %>
 
</head>
<body>

  <div id="wrap">

    <%# 侧边菜单 %>
    <%- include('common/sidebar') %>

    <div class="outer">
      <section id="main">

        <%# 文章列表 %>
        <%- include('post/index', {post: list}) %>

      </section>
    </div>

     <%- include('common/footer') %>
    
  </div>

  <script>
  var disqus_shortname = 'kunlin';
  
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//go.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>


</body>

</html>